<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Películas</title>
</head>
<body>
<h1>Lista de Películas</h1>
<a th:href="@{/web/peliculas/crear}">Crear Nueva Película</a>
<table>
    <thead>
    <tr>
        <th>Imagen</th>
        <th>Título</th>
        <th>Año</th>
        <th>Duración</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pelicula : ${peliculas}">
        <td>
            <img th:src="@{${pelicula.imagenPortada}}" alt="Imagen no disponible" width="100"/>
        </td>
        <td th:text="${pelicula.titulo}"></td>
        <td th:text="${pelicula.anio}"></td>
        <td th:text="${pelicula.duracion} + ' min'"></td>
        <td>
            <a th:href="@{/web/peliculas/editar/{id}(id=${pelicula.idPelicula})}">Editar</a>
            <a th:href="@{/web/peliculas/eliminar/{id}(id=${pelicula.idPelicula})}">Eliminar</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
